*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --theme-white:#FFFFFF;
   --theme-light-green:rgba(189, 224, 211, 1);
   --theme-dark-gray:#515A68;
}
body{
   font-family: 'Nunito';
   color: black;
}
.container{
   max-width: 1250px;
   padding: 0 20px;
   margin: auto;

}
.justify-between{
   justify-content: space-between;
}
.align-center{
   align-items: center;
}
.d-flex{
   display:flex;
}
.row{
   flex-wrap: wrap;
   display: flex;
}
.text-center{
   text-align: center;
}
.w-2{
   width: 50%;
}
.w-3{
  width: 33.33%;
}
.d-none{

   display: none;
}

.w-6{
   width: 16.66%;
}
a{
   text-decoration: none;
   color: currentColor;
}
ul{
   list-style: none;
   padding-left: 0;
}
h1{
   font-size: 16px;
   line-height: 1.5;
}
h2{
   font-size: 60px;
   line-height: 1.3;
}

/* HEADER */

.topbar{
   background-color: var(--theme-dark-gray);
   padding: 10px 0;
   position: fixed;
   width: 100%;
   position: relative;
   top:0;
   left:0;
   z-index: 999;
 
}
.header-span{
   color: var(--theme-white);
   padding-left: 10px;
   align-items: center;
   font-weight: 200;
}
.header-icons a{
   padding-right: 10px;
   cursor: pointer;
}
.navigation{
   position:absolute ;
   right: 0;
   left: 10px;
   z-index: 1;
   /* margin-top: 40px; */

}
.back-to-top{
   background-color: rgb(75, 144, 59);
   color:white;
   padding: 9px 15px;
   font-size: 20px;
   border-radius: 5px;
   position: fixed;
   bottom: 25px;
   right: 25px;
   display: none;
}


.button{
    background-color: transparent;
    border: 1px solid var(--theme-white);
    border-radius: 25px;
    padding: 15px 55px;
    color: var(--theme-white);
    font-weight: 100;
    
}
.button-1{
   background-color: transparent;
   border: 1px solid var(--theme-white);
   border-radius: 25px;
   padding: 15px 55px;
   color: var(--theme-white);
   font-weight: 100;
   
}
.button-1:hover{
   background-color: var(--theme-light-green);
   border-radius: 25px;
   padding: 15px 35px;
   color:black;
   font-weight: 100;
   transition:0.4s all;
   
}
nav li{
   padding: 0 18px;
   cursor: pointer;
   color: var(--theme-white);
   font-weight: 100;
}
.toggle{
   color: var(--theme-white);
   display: none;
}

/* ENDS HEADER */

/* BANNER */

.banner{
  position: relative;
  height: 100vh;
  display:block;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  
}
.banner-img{
   background:rgb(0,0,0,0.2);
	background-size:cover;
	width:100%;
   padding:0;
   position: absolute;
   background-blend-mode:darken;
}
.button-we{
   background-color: var(--theme-light-green);
   color:black;
   border: none;
   padding: 15px 55px;
   border-radius: 25px;
   margin-right:16px ;
}
.banner-content{
   text-align: center;
   color: black;
   z-index: 0;
   margin: 0 auto;
   padding: 250px 0;
   

}
.banner-heading {
   color:var(--theme-white);
   font-size: 55px;
   font-weight: 400;
   padding: 10px 0;
}
.richtext{
   color: var(--theme-white);
   padding-bottom: 30px;
   font-size: 18px;
   font-weight: 200;
}

/* BANNER ENDS */

/* TWO-COL-SECTION */

.two-section{
   transform: translateY(-20%);
   margin-bottom: 40px;
}
.two-col-img{
   padding-right: 16px;
   width: 100%;
   
}
.two-items{
   position: relative;

}


.two-col-content{
   position: absolute;
   left:0;
   bottom:0;
   right: 0;
   color:var(--theme-white);
   padding: 20px;

}
.aerrow{
   margin-left: 9px;
   align-items: baseline;
   align-items: center;
}
.two-col-heading{
  font-size: 29px;
  font-weight: 400;
}
.two-section .richtext{
   color:var(--theme-white);
   font-weight: 200;
   font-size: 14px;
   font-family:serif;
   padding-top: 20px;
}
.aerrow{
   background-color: var(--theme-light-green);
   padding: 5px;
   border-radius:50%;
}
.two-col-img{
   background-size: cover;
}
/* END TWO-COL-SECTION */

/* WE-DO */

.we-content{
   padding-right: 30px;
}
.we-heading{
   font-weight: 200;
   font-size: 15px;    
}
.sub-we-heading{
 font-size: 39px;
 font-weight: 500;
 padding: 10px 0;
}

.we-content .richtext{
     color: rgba(44, 54, 70, 1);
     font-weight: 100;
     font-size: 17px;
     line-height: 1.7;
}
/* END-WE-DO */



/* LOGOS */

.logos{
   padding: 60px 0;
}

/* LOGOS-ENDS */


/* progress */

 
 .process {
   text-align: center;
   margin: 100px  0;
 }
 .process-title .richtext{
   max-width: 600px;
   color: var(--theme-dark-gray);
   margin: auto;
   padding-bottom: 60px;
 }
 .process-title h4{
   font-size: 39px;
   padding-bottom:10px;
 }
 .process-items{
   box-shadow: 5px 5px rgb(248, 248, 249), 10px 10px rgb(251, 251, 251), 15px 15px rgb(251, 253, 251);
   text-align: center;
   margin-right: 30px;
 }
 .process-img{
   background-color: var(--theme-light-green);
   border-radius: 50%;
   width: 150px;
   height: 150px;
   position: relative;
   margin: auto;
   
 }
 .process-img img{
   align-items: center;
   padding: 25px 0;
 }
 .process-img h3{
   background-color: var(--theme-dark-gray);
   color: white;
   position: absolute;
   bottom:20px;
   right:-1%;
   border-radius: 50%;
   padding: 10px 17px;
 }
 .process-content{
   margin-top:20px;
 }
 .process-content h4{
    color: #2C3646;
    font-size:28px;
 }
 .process-content h5{
   color: #2C3646;
   font-size:17px;
   font-weight: 100;
   max-width: 250px;
   margin: auto;
   line-height: 30px;
   padding: 10px 0;
}
 .step-icon i {
   font-size: 24px;
   color: #333;
 }
 

 


/* SERVICES */
.services-content{
   padding: 19px;
}
.services-items{
 box-shadow:0px 2px 20px 0px rgba(62,65,159,0.09);
  border-radius:5px;
  margin-right: 20px;
}
.services-img img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: block;
  object-fit: cover;
  
}

.services-title{
   margin:20px 0 50px 0;
}
.services-title h4{
   color:#2C3646;
  font-weight:700;
  font-size: 37px;
}	
.services-title a{
  background-color:var(--theme-dark-gray);
  color: var(--theme-white);
  padding:10px 39px;
  border-radius: 25px;
}

.services-content h4{
  color:#2C3646;
  font-weight: 200;
  margin: 9px 0;
}
.services-content h5{
   color: #2C3646;
   font-size: 24px;
   font-weight: 600;
  margin-bottom: 9px;
}
.services-heading {
   flex-grow: 1;
   text-align: left;
}
.services-title a{
    flex-shrink: 0;
}

.services-content p{
   color: rgba(44, 54, 70, 1);
   font-weight:300;
   line-height:1.9;
   margin-bottom: 10px;
}
.services-content img{
   background-color: var(--theme-light-green);
   padding: 10px ;
   border-radius: 50%;
   overflow: hidden;
  
}
.services-items .services-img img:hover{
   filter: contrast(50%);
}


/* FOOTER */
footer{
   background-color:var(--theme-dark-gray);
   margin-top: 40px;
   padding:30px 0 0 0;
  

 }
footer  .icons img{
   margin-right: 20px;
   /* background-color: rgb(196, 194, 194);
   padding:10px; */
   /* border-radius:25px; */
   
 }
 .footer-tite h4{
   color: var(--theme-white);
   font-size: 38px;
   font-weight: 300;
   margin-bottom: 10px;

 }
 .footer-items .call img , .mail img{
   background-color: var(--theme-light-green);
   padding: 10px ;
   border-radius: 50%;
   margin-bottom: 20px;

 }
 .footer-items a{ 
   color: var(--theme-white); 
   margin-left: 19px;
   align-items: center;
 }
.footer-items .richtext{
    color: var(--theme-white);
    font-weight: 100;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 45px;
}
.sign-up h5{
   color: var(--theme-white);
   font-weight: 400;
   font-size: 30px;
}
form{
   position: relative;
}
form input{
   background-color:var(--theme-white);
   border: none;
   outline: none;
   padding: 16px 99px 16px 10px;
   margin:20px 0;
   border-radius: 25px;
   width: 100%;
}
form button{
   position: absolute;
   right: 1%;
   background-color: var(--theme-light-green);
   border: none;
   padding: 10px 9px;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
}
