
@media(max-width:2000px){
	.container{
		max-width:1320px;
	}
    .w-xxl-2{
       width: 50%;
    }
	.w-xxl-3{
		width: 33.33%;
	}
    .w-xxl-4{
		width: 25%;
	}
				
	.topbar{
		display:inline-block;
		background-color: var(--theme-dark-gray);
		width: 100%;
		padding: 10px 0;
	}
	
	
}


@media(max-width:1199px){
	.container{
		max-width:1140px;
	}
    
    .w-lg-1{
        width: 100%;
    }
	.w-lg-3{
		width: 33.33%;
	}
}


@media(max-width:991px){
	.container{
		max-width:960px;
	}
	.w-md-2{

		width: 50%;
	}
	.w-md-3{
		width: 33.33%;
	}
	.w-md-1{
		width: 100%;
	}
	.banner-content {
		
		padding: 110px 0;
	}
	.two-section {
		transform: translateY(-4%);
	}
	.logos-items{
		margin-bottom: 30px;
	}
	.services-items{
		margin-bottom: 20px;
	}
}

@media(max-width:767px){
	.container{
		max-width:720px;
	}
	.w-sm-2{
		width:50%;
	}
	.w-sm-1{
		width: 100%;
	}
   
   
    .topbar{
		display: none;
	}
	header{
		z-index: 999;
	}
	.navigation{
		transform: translateY(0);
		padding: 0;
		
	}
	.navigation nav{
		display: none;
		text-align: left!important;
		padding: 0;
		
	
	}
	.button-we{
		margin-bottom: 30px;
	}
	.button{
	  color: var(--theme-dark-gray);
	  border: 1px solid var(--theme-dark-gray);

	}
	.banner{	
		z-index: -1;
	}
	.banner-content{
		padding:  0;
		flex-direction: column;
		display: flex;
		
	 
	 }
	.banner-img{
		background:rgb(0,0,0,0.2);
		 background-size:cover;
		 max-width:100%;
		padding:0;
		background-blend-mode:darken;
		position: static;
		min-height: 100vh;
		
	 }
	 .banner-heading{
		color: black;
		font-size:48px;
	 }
	 .richtext{
		color: black;
		font-size: 20px;
	 }
	 .button-1{
		border: 1px solid black;
		color: var(--theme-dark-gray);
	 }
	 .banner-content{
		color:black;
		
	 }
	.two-section{
		transform: translateY(0);
		margin: 286px 0 0 0;
    }
	.two-col-heading{
		text-align: center;

	}
	.richtext{
		margin: auto;
		
	}
	.toggle{
		display:block;
	}
	.footer-items .richtext{
		text-align: left;
	}
	.navigation{
		position:inherit;
		padding: 10px 0;
	}
	.logo-dark{
		display: block;
	 }
	 .logo-light{
		display: none;
	 }
	 .toggle{
		color: var(--theme-dark-gray);
	 }
	.navigation nav ul{
		flex-direction: column;
		top: 104%;
		left:0;
		position: absolute;
		transition: 0.4s all;
		background-color: white;
		box-shadow: inset;
		justify-content: flex-start;
		text-align: left;
		right: 0;
	}

	.navigation li , button{
		margin: 10px 0;
		color: var(--theme-dark-gray);
	}
	form button {
		position: absolute;
		right: 1%;
		background-color: var(--theme-light-green);
		border: none;
		padding: 10px 9px;
		border-radius: 50%;
		top: 40%;
		transform: translateY(-50%);
	}
}

@media(max-width:575px){
	.container{
		max-width:540px;
	}	
	.w-xs-1{
		width:100%;
	}

	.two-section{
		transform: translateY(0);
		margin: 326px 0 0 0;
    }
   
}
@media (max-width:475px){
	.two-section{
		transform: translateY(0);
		margin: 406px 0 0 0;
    }
}