@font-face {
    font-family: 'Varela Round';
    src: url('VarelaRound-Regular.woff2') format('woff2'),
        url('VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

